borgbackup>=1.2.5 # not directly required, pinned by Snyk to avoid a vulnerability
Django>=4.2,<4.3
django-appconf>=1.0
django-countries==7.5.1
django-vies==6.0.3
fakturace==0.6.1
fiobank==3.0.0
nijel-thepay==0.5
psycopg2-binary
python-dateutil
requests
Weblate
